<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            border: 2px solid black;
            width: 250px;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>
<body>

    <div>
        <h3>Username: <%= user.username %> </h3>
        <p>Password: <%= user.password %></p>
        <p>Age: <%= user.age %></p>
        <p>Address: <%= user.address %></p>
    </div>
    
</body>
</html>